body
{
  text-align: center;
  background: #FFEC94;
}

.unit
{
  height: 50px;
  width: 50px;
  background: white;
  float: left;
  margin: 0px;
}

#grid
{
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 500px;
  outline: #000000 solid thick;
}

#reset
{
  height: 32px;
  width: 100px;
  margin: 30px;
}

#resize
{
  height: 32px;
  width: 100px;
  margin: 30px;
}



#githubButton
{
  height: 32px;
  width: 100px;
  margin-bottom: 30px;
}

#githubtext
{
 text-decoration:none;
 color: black;
 font-style: bold;
}
